MACOS = $(strip $(findstring Darwin, $(shell uname -s)))
LINUX = $(strip $(findstring Linux, $(shell uname -s)))

ifneq ($(LINUX), )
    OPENCL_LIB := -I /usr/local/cuda-6.5/include -lOpenCL
    NVCC := /usr/local/cuda-6.5/bin/nvcc
    CUDA_LIB := -lcuda
endif

ifneq ($(MACOS), )
    OPENCL_LIB := -framework OpenCL
    NVCC := /Developer/NVIDIA/CUDA-6.5/bin/nvcc
    CUDA_LIB := -L /usr/local/cuda/lib/ -lcuda
endif
