MACOS = $(strip $(findstring Darwin, $(shell uname -a)))
NVIDIA = $(strip $(findstring NVIDIA, $(shell uname -a)))
AMD = $(strip $(findstring AMD, $(shell uname -a)))

ifneq ($(AMD), )
    OPENCL_LIB := -I /opt/AMDAPPSDK-3.0/include/ -lOpenCL
endif

ifneq ($(NVIDIA), )
    OPENCL_LIB := -I /usr/local/cuda-6.5/include -lOpenCL
    NVCC := /usr/local/cuda-6.5/bin/nvcc
    CUDA_LIB := -lcuda
endif

ifneq ($(MACOS), )
    OPENCL_LIB := -framework OpenCL
    NVCC := /Developer/NVIDIA/CUDA-6.5/bin/nvcc
    CUDA_LIB := -L /usr/local/cuda/lib/ -lcuda
endif
